doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Blog Posts

    include _includes/_favicon

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@700&display=swap" rel="stylesheet">
    link(rel="stylesheet" href="../main.css")
    script(src="../bundle.js" defer)  
  body 
    .grid.home
      include _includes/_nav
      main.blogs
        - const sorted = collections.pages.sort((a,b)=> b.data.dateCreated.getTime() - a.data.dateCreated.getTime())
        - console.log(sorted.map(el => el.data.title))
        for page of sorted
          div.blogs__post
            figure
              img(src=`${page.data.cover}` alt=`${page.data.coverAlt}`)
            .blogs__post-info
              a(href=`${page.url}`).link.blogs__post-title= page.data.title
              <br />
              span.blogs__post-desc= page.data.description
              h6= page.data.dateCreated.toLocaleDateString('en-GB')